<div>
  <h1 class="title">Clinic Details</h1>

  <div class="p-4">
    <div>
      <small class="font-extrabold text-gray-600">CLINIC NAME</small>
      <p>Clinic Name Sample</p>
    </div>
    <div>
      <small class="font-extrabold text-gray-600">DESCRIPTION</small>
      <p>Description Sample</p>
    </div>
    <div>
      <small class="font-extrabold text-gray-600">ADDRESS</small>
      <p>Full Address</p>
    </div>
    <div>
      <small class="font-extrabold text-gray-600">CONTACT NUMBER</small>
      <p>+639 451 1231 123</p>
    </div>

    <div>
      <small class="font-extrabold text-gray-600">LOGO</small>
      <img
        src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/funny-design-template-fceb4204bfed63f01b05bf895c3fdeed_screen.jpg?ts=1644596935"
        height="150"
        width="150"
      />
    </div>
  </div>
</div>
