<mat-drawer-container autosize>
  <mat-drawer #drawerLeft mode="over" class="left-drawer">
    <app-drawer-left [drawer]="drawerLeft"></app-drawer-left>
  </mat-drawer>

  <mat-drawer
    #drawerRight
    disableClose
    mode="over"
    class="right-drawer"
    position="end"
  >
    <app-add-patient-drawer [drawer]="drawerRight"></app-add-patient-drawer>
  </mat-drawer>

  <div class="main-panel">
    <app-header
      [drawerLeft]="drawerLeft"
      [drawerRight]="drawerRight"
    ></app-header>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</mat-drawer-container>
