@import "/src/assets/styles/variables.scss";

.content {
  padding: 0.5rem 27px;
  min-height: 100vh;
}

.left-drawer {
  width: 30rem;
}

.right-drawer {
  width: 40rem;
}

.left-drawer,
.right-drawer {
  height: 100vh;
}
