<h2 class="portal-page-title">Patient Encounter</h2>
<div class="w-full flex flex-row consultation-section">
  <section class="patient-profile w-3/12">
    <mat-card class="mb-2">
      <mat-card-header>
        <mat-card-title> Profile </mat-card-title>
        <mat-card-subtitle>
          Vital patient data for medical analysis and coordination
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex flex-row">
          <div class="w-[8rem]">
            <img [src]="mockPatient.profile_pic" class="profile-picture" />
          </div>
          <div class="w-full patient-profile pl-4">
            <p>
              Name:
              <b>{{ mockPatient.first_name }} {{ mockPatient.last_name }}</b>
            </p>
            <p>
              DOB:
              <b>{{ mockPatient.date_of_birth | date }}</b>
            </p>
            <p>
              Age:
              <b>{{ mockPatient.age }}</b>
            </p>
            <p>
              Height:
              <b>{{ mockPatient.health_information.height }}</b>
            </p>
            <p>
              Weight:
              <b>{{ mockPatient.health_information.weight }}</b>
            </p>
            <b class="payment-type">Philc Pay</b>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-2">
      <mat-card-header>
        <mat-card-title> Timeline </mat-card-title>
        <mat-card-subtitle>
          Chronological record of patient health events and history
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="max-h-52 overflow-scroll">
        <div class="per-timeline">##[[need further research]]</div>
      </mat-card-content>
    </mat-card>
    <mat-card class="mb-2">
      <mat-card-header>
        <mat-card-title> QxMD Calculate </mat-card-title>
        <mat-card-subtitle>
          A next-generation clinical calculator and decision support tool
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Search for Calculator</mat-label>
          <input matInput [(ngModel)]="calculatorType" />
        </mat-form-field>
        <iframe
          src="https://qxmd.com/calculate/calculator_240/due-date-by-lmp?embed=1"
          class="w-full h-[30rem]"
        ></iframe>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="telecon w-4/12">
    <mat-card class="sticky top-0 z-10">
      <mat-card-header>
        <mat-card-title> Teleconsultation </mat-card-title>
        <mat-card-subtitle
          >Remote healthcare communication for diagnosis, advice, and treatment
          planning</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <div class="flex">
          <div class="w-4/5 mr-2">
            <img [src]="patientOnVideoImgSrc" />
          </div>
          <div class="w-1/5">
            <img [src]="doctorOnVideoImgSrc" class="mb-2" />
            <img [src]="nurseOnVideoImgSrc" class="mb-4" />
            <button mat-stroked-button class="w-full invite-btn">Invite</button>
          </div>
        </div>
      </mat-card-content>
      <mat-card-content class="telecon-details">
        <div class="grid grid-cols-2">
          <div class="col-1">
            <small>Encounter ID</small>
            <p><b>1xab7bdef2718170001</b></p>
          </div>

          <div class="col-1 text-right">
            <small>Presenter</small>
            <p><b>Evangeline Acosta</b></p>
          </div>

          <div class="col-1">
            <small>Elapsed Time</small>
            <p><b>14:00:00</b></p>
          </div>

          <div class="col-1 text-right">
            <small>Clinician</small>
            <p><b>Dr. Joaquin Guillermo</b></p>
          </div>

          <div class="col-1">
            <button mat-stroked-button color="warn">End Encounter</button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <section class="soap w-5/12">
    <app-soap></app-soap>
  </section>
</div>
