<div class="grid grid-cols-12 gap-2">
  <div class="col-span-2">
    <div class="p-2 border-[1px] border-gray py-[6rem] text-center">
      [[calendar]]
    </div>
    <div class="mt-2 p-2 border-[1px] border-gray">
      <p>Doctors</p>
      <div>
        <mat-checkbox><b>(Me)</b> Joaquin Guillermo</mat-checkbox>
      </div>
      <div>
        <mat-checkbox>Juan Dela Cruz</mat-checkbox>
      </div>
      <div>
        <mat-checkbox>Emilio Santos</mat-checkbox>
      </div>
      <div>
        <button mat-button>See more...</button>
      </div>
    </div>
  </div>
  <div class="col-span-10">
    <div class="flex justify-between">
      <div class="flex">
        <div class="arrows">
          <button mat-stroked-button>Today</button>
          <button mat-icon-button>
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        <div class="month-year pt-2">
          <h3>January 2024</h3>
        </div>
      </div>
    </div>
    <div class="border-[1px] border-gray calendar-container">
      <div class="grid grid-cols-8">
        <div></div>
      </div>
    </div>
  </div>
</div>
