<h2 class="portal-page-title">Patients</h2>
<div class="grid grid-cols-12 gap-2">
  <mat-card class="col-span-12">
    <div>
      <small> Toolbar </small>
    </div>
    <div class="flex justify-between">
      <mat-form-field class="w-[32rem]">
        <mat-label>Search Patient</mat-label>
        <input matInput type="text" [formControl]="keyword" />
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
        <mat-hint>Patients Name or PIN</mat-hint>
      </mat-form-field>
      <div class="flex flex-col">
        <button
          mat-raised-button
          matTooltip="Sync your patients masterlist from PhilHealth"
        >
          Update Masterlist
        </button>
      </div>
    </div>
    <mat-card-actions align="end">
      <small class="opacity-50">Last Sync: Jan. 23, 2023 11:32PM</small>
    </mat-card-actions>
  </mat-card>

  <mat-card class="col-span-12">
    <table mat-table [dataSource]="dataSource" class="w-full">
      <ng-container matColumnDef="pin">
        <th mat-header-cell *matHeaderCellDef>PIN</th>
        <td mat-cell *matCellDef="let element">{{ element.pin }}</td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef>Middle Name</th>
        <td mat-cell *matCellDef="let element">{{ element.middleName }}</td>
      </ng-container>

      <ng-container matColumnDef="suffix">
        <th mat-header-cell *matHeaderCellDef>Suffix</th>
        <td mat-cell *matCellDef="let element">{{ element.suffix }}</td>
      </ng-container>

      <ng-container matColumnDef="dob">
        <th mat-header-cell *matHeaderCellDef>DOB</th>
        <td mat-cell *matCellDef="let element">{{ element.dob | date }}</td>
      </ng-container>

      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef>Sex</th>
        <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
      </ng-container>

      <ng-container matColumnDef="memberType">
        <th mat-header-cell *matHeaderCellDef>Member Type</th>
        <td mat-cell *matCellDef="let element">{{ element.memberType }}</td>
      </ng-container>

      <ng-container matColumnDef="memberName">
        <th mat-header-cell *matHeaderCellDef>Member Name</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.primaryMember">
            {{
              element.primaryMember.lastName +
                ", " +
                element.primaryMember.firstName +
                ", " +
                element.primaryMember.middleName +
                ", " +
                element.primaryMember.suffix
            }}</span
          >
        </td>
      </ng-container>

      <ng-container matColumnDef="memberDob">
        <th mat-header-cell *matHeaderCellDef>Member DOB</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.primaryMember">
            {{ element.primaryMember.dob | date }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="memberPin">
        <th mat-header-cell *matHeaderCellDef>Member PIN</th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.primaryMember">
            {{ element.primaryMember.pin }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="mobileNo">
        <th mat-header-cell *matHeaderCellDef>Mobile No</th>
        <td mat-cell *matCellDef="let element">{{ element.mobileNo }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
</div>
