<mat-card class="soap" [formGroup]="soapForm">
  <mat-card-header>
    <mat-card-title (click)="showValue()"> SOAP </mat-card-title>
    <mat-card-subtitle>
      Patient data format facilitating healthcare communication.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion class="headers-align" multi>
      <mat-expansion-panel [formGroupName]="'subjective'">
        <mat-expansion-panel-header class="sticky top-0">
          <mat-panel-title> <b>S</b>ubjective </mat-panel-title>
          <mat-panel-description>
            <small>Patient-reported symptoms, history</small>
            <mat-icon>assignment</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="grid grid-cols-2 gap-4">
            <div class="col-span-2">
              <mat-form-field class="w-full">
                <mat-label>Chief Complaint</mat-label>
                <textarea
                  rows="4"
                  matInput
                  placeholder="e.g. Massive Headache"
                  formControlName="chief_complaint"
                ></textarea>
              </mat-form-field>
            </div>
            <div class="col-span-2">
              <mat-form-field class="w-full">
                <mat-label>History of Present Illness</mat-label>
                <textarea
                  rows="4"
                  matInput
                  placeholder="e.g. Massive Headache"
                  formControlName="hx_or_present_illness"
                ></textarea>
              </mat-form-field>
            </div>

            <div class="col-span-2">
              <mat-form-field class="w-full">
                <mat-label>Blood Type</mat-label>
                <mat-select formControlName="blood_type">
                  <mat-option
                    *ngFor="let item of LIST.blood_types"
                    [value]="item"
                  >
                    {{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <ng-container [formGroupName]="'past_medical_hx'">
              <div class="col-span-2 pb-4">
                <small class="highlight">Chronic Medical Condition</small>
                <div class="grid grid-cols-12 mt-4">
                  <p class="col-span-12 overflow-hidden pr-4 pb-2">
                    <mat-checkbox
                      [checked]="chronic_medical_conditions.length == 0"
                      [disabled]="true"
                    >
                      None
                    </mat-checkbox>
                    <br />
                    <small>
                      Automatic None if there are no selected conditions
                    </small>
                  </p>
                  <ng-container formArrayName="chronic_medical_conditions">
                    <ng-container
                      *ngFor="
                        let cmc_form of chronic_medical_conditions.controls;
                        let i = index
                      "
                    >
                      <div
                        class="col-span-6 overflow-hidden pr-4 pb-2"
                        [formGroupName]="i"
                      >
                        <mat-checkbox
                          (change)="
                            update_selected_chronic_disease(cmc_form.value.name)
                          "
                          [checked]="true"
                        >
                          {{ cmc_form.value.name }}
                        </mat-checkbox>

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Year"
                          formControlName="when"
                        />

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Medication"
                          formControlName="medication"
                        />

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Diagnostic Peformed"
                          formControlName="diagnostic_performed"
                        />
                      </div>
                    </ng-container>
                  </ng-container>
                  <p class="col-span-12 m-0"></p>
                  <ng-container
                    *ngFor="
                      let disease of LIST.chronic_medical_conditions;
                      let i = index
                    "
                  >
                    <p
                      class="col-span-6 overflow-hidden pr-4 pb-2"
                      *ngIf="!isChronicSelected(disease)"
                    >
                      <mat-checkbox
                        (change)="update_selected_chronic_disease(disease)"
                      >
                        {{ disease }}
                      </mat-checkbox>
                    </p>
                  </ng-container>
                </div>
              </div>

              <div class="col-span-2 pb-6" formArrayName="allergies">
                <small class="highlight">Allergies</small>
                <div class="grid grid-cols-12 mt-4">
                  <ng-container
                    *ngFor="let allergy of allergies.controls; let i = index"
                  >
                    <ng-container [formGroupName]="i">
                      <p class="col-span-3 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Allergy"
                          formControlName="name"
                        />
                      </p>
                      <p class="col-span-3 pr-4">
                        <mat-select
                          formControlName="severity"
                          placeholder="Severity"
                          class="table-input"
                        >
                          <mat-option
                            *ngFor="let item of LIST.allergy_severity"
                            [value]="item"
                          >
                            {{ item }}
                          </mat-option>
                        </mat-select>
                      </p>
                      <p class="col-span-5 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Medication"
                          formControlName="medication"
                        />
                      </p>
                      <p
                        class="col-span-1 text-right cursor-pointer"
                        (click)="onRemoveAllergy(i)"
                      >
                        X
                      </p>
                    </ng-container>
                  </ng-container>

                  <!--  -->
                </div>
                <a
                  class="cursor-pointer hover:font-bold"
                  (click)="onAddAllergy()"
                >
                  + Add Allergy
                </a>
              </div>

              <div class="col-span-2 pb-6" formArrayName="surgeries">
                <small class="highlight">Surgeries</small>
                <div class="grid grid-cols-12 mt-4">
                  <ng-container
                    *ngFor="let surgery of surgeries.controls; let i = index"
                  >
                    <ng-container [formGroupName]="i">
                      <p class="col-span-3 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Surgery"
                          formControlName="name"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="When"
                          formControlName="when"
                        />
                      </p>
                      <p class="col-span-3 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Where"
                          formControlName="where"
                        />
                      </p>
                      <p class="col-span-3 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Outcome"
                          formControlName="outcome"
                        />
                      </p>
                      <p
                        class="col-span-1 text-right cursor-pointer"
                        (click)="onRemoveSurgery(i)"
                      >
                        X
                      </p>
                    </ng-container>
                  </ng-container>

                  <!--  -->
                </div>
                <a
                  class="cursor-pointer hover:font-bold"
                  (click)="onAddSurgery()"
                >
                  + Add Surgery
                </a>
              </div>

              <div class="col-span-2 pb-6" formArrayName="medications">
                <small class="highlight">Other Medications Taken</small>
                <div class="grid grid-cols-12 mt-4">
                  <ng-container
                    *ngFor="
                      let medication of medications.controls;
                      let i = index
                    "
                  >
                    <ng-container [formGroupName]="i">
                      <p class="col-span-3 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Medication Name"
                          formControlName="name"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="When"
                          formControlName="when"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Duration"
                          formControlName="duration"
                        />
                      </p>
                      <p class="col-span-4 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Indication"
                          formControlName="indication"
                        />
                      </p>
                      <p
                        class="col-span-1 text-right cursor-pointer"
                        (click)="onRemoveMedication(i)"
                      >
                        X
                      </p>
                    </ng-container>
                  </ng-container>

                  <!--  -->
                </div>
                <a
                  class="cursor-pointer hover:font-bold"
                  (click)="onAddMedication()"
                >
                  + Add Medication
                </a>
              </div>

              <div class="col-span-2 pb-6" formGroupName="obgyne">
                <small class="highlight">OB-Gyne Hx</small>
                <div class="grid grid-cols-12 mt-4">
                  <ng-container *ngFor="let field of LIST.obgyne_hxs_fields">
                    <ng-container *ngIf="field.fcname">
                      <p class="col-span-4 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          readonly
                          value="{{ field.label }}"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          [placeholder]="field.placeholder"
                          [formControlName]="field.fcname"
                        />
                      </p>
                      <p class="col-span-6 pr-4"></p>
                    </ng-container>
                    <ng-container
                      *ngIf="field.fgname"
                      [formGroupName]="field.fgname"
                    >
                      <small class="col-span-12 mb-4 mt-2">
                        {{ field.label }}
                      </small>
                      <div
                        class="col-span-12 grid grid-cols-12"
                        *ngFor="let fgfield of field.fcs"
                      >
                        <p class="col-span-4 pr-4">
                          <input
                            class="table-input"
                            matInput
                            type="text"
                            readonly
                            value="{{ fgfield.label }}"
                          />
                        </p>
                        <p class="col-span-2 pr-4">
                          <input
                            class="table-input"
                            matInput
                            type="text"
                            [placeholder]="fgfield.placeholder || ''"
                            [formControlName]="fgfield.fcname"
                          />
                        </p>
                        <p class="col-span-6 pr-4"></p>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </div>

              <div class="col-span-2 pb-6" formArrayName="chronologic_ob_hxs">
                <small class="highlight">Chronologic OB Hx</small>
                <div class="grid grid-cols-12 mt-4">
                  <ng-container
                    *ngFor="
                      let chr_ob_hx of chronologic_ob_hxs.controls;
                      let i = index
                    "
                  >
                    <ng-container [formGroupName]="i">
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Name"
                          formControlName="name"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="When"
                          formControlName="when"
                        />
                      </p>
                      <p class="col-span-7 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Outcome/Presense of comorbidities"
                          formControlName="remarks"
                        />
                      </p>
                      <p
                        class="col-span-1 text-right cursor-pointer"
                        (click)="onRemoveChronologicOB(i)"
                      >
                        X
                      </p>
                    </ng-container>
                  </ng-container>

                  <!--  -->
                </div>
                <a
                  class="cursor-pointer hover:font-bold"
                  (click)="onAddChronologicOB()"
                >
                  + Add Chronologic OB
                </a>
              </div>

              <div
                class="col-span-2 pb-6"
                formArrayName="birth_control_methods"
              >
                <small class="highlight">Birth Control Methods</small>
                <div class="grid grid-cols-12 mt-4">
                  <ng-container
                    *ngFor="
                      let birth_control_method of birth_control_methods.controls;
                      let i = index
                    "
                  >
                    <ng-container [formGroupName]="i">
                      <p class="col-span-3 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Name"
                          formControlName="name"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="When"
                          formControlName="when"
                        />
                      </p>
                      <p class="col-span-2 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Duration"
                          formControlName="duration"
                        />
                      </p>
                      <p class="col-span-4 pr-4">
                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Remarks"
                          formControlName="remarks"
                        />
                      </p>
                      <p
                        class="col-span-1 text-right cursor-pointer"
                        (click)="onRemoveBirthControlMethod(i)"
                      >
                        X
                      </p>
                    </ng-container>
                  </ng-container>

                  <!--  -->
                </div>
                <a
                  class="cursor-pointer hover:font-bold"
                  (click)="onAddBirthControlMethod()"
                >
                  + Add Birth Control Method
                </a>
              </div>
            </ng-container>

            <ng-container [formGroupName]="'immunization_hx'">
              <div class="col-span-2">
                <small class="highlight"> Immunization Hx</small>
              </div>
              <div class="col-span-2">
                <div class="col-span-12">
                  <small> Childhood Immunization </small>
                </div>
                <div class="grid grid-cols-12 mt-4">
                  <p class="col-span-12 overflow-hidden pr-4">
                    <mat-checkbox
                      [checked]="childhood.length == 0"
                      [disabled]="true"
                    >
                      None
                    </mat-checkbox>
                    <br />
                    <small>
                      Automatic None if there are no selected immunization
                    </small>
                  </p>
                  <ng-container formArrayName="childhood">
                    <ng-container
                      *ngFor="
                        let immunx_fg of childhood.controls;
                        let i = index
                      "
                    >
                      <div
                        class="col-span-6 overflow-hidden pr-4 pb-2"
                        [formGroupName]="i"
                      >
                        <mat-checkbox
                          (change)="
                            update_selected_childhood(immunx_fg.value.name)
                          "
                          [checked]="true"
                        >
                          {{ immunx_fg.value.name }}
                        </mat-checkbox>

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Year"
                          formControlName="when"
                        />

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Where"
                          formControlName="where"
                        />
                      </div>
                    </ng-container>
                  </ng-container>
                  <p class="col-span-12 m-0"></p>
                  <ng-container
                    *ngFor="
                      let immun of LIST.child_immunization_schedule;
                      let i = index
                    "
                  >
                    <p
                      class="col-span-6 overflow-hidden pr-4 pb-2"
                      *ngIf="!isChildhoodImmunizationSelected(immun.vaccine)"
                    >
                      <mat-checkbox
                        (change)="update_selected_childhood(immun.vaccine)"
                      >
                        {{ immun.vaccine }}
                      </mat-checkbox>
                    </p>
                  </ng-container>
                </div>
                <div class="col-span-12 mt-4">
                  <small> Adulthood Immunization </small>
                </div>
                <div class="grid grid-cols-12 mt-4">
                  <p class="col-span-12 overflow-hidden pr-4">
                    <mat-checkbox
                      [checked]="adulthood.length == 0"
                      [disabled]="true"
                    >
                      None
                    </mat-checkbox>
                    <br />
                    <small>
                      Automatic None if there are no selected immunization
                    </small>
                  </p>
                  <ng-container formArrayName="adulthood">
                    <ng-container
                      *ngFor="
                        let immunx_fg of adulthood.controls;
                        let i = index
                      "
                    >
                      <div
                        class="col-span-6 overflow-hidden pr-4 pb-2"
                        [formGroupName]="i"
                      >
                        <mat-checkbox
                          (change)="
                            update_selected_adulthood(immunx_fg.value.name)
                          "
                          [checked]="true"
                        >
                          {{ immunx_fg.value.name }}
                        </mat-checkbox>

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Year"
                          formControlName="when"
                        />

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Where"
                          formControlName="where"
                        />
                      </div>
                    </ng-container>
                  </ng-container>
                  <p class="col-span-12 m-0"></p>
                  <ng-container
                    *ngFor="
                      let immun of LIST.adult_immunization_schedule;
                      let i = index
                    "
                  >
                    <p
                      class="col-span-6 overflow-hidden pr-4 pb-2"
                      *ngIf="!isAdulthoodImmunizationSelected(immun.vaccine)"
                    >
                      <mat-checkbox
                        (change)="update_selected_adulthood(immun.vaccine)"
                      >
                        {{ immun.vaccine }}
                      </mat-checkbox>
                    </p>
                  </ng-container>
                </div>

                <div class="col-span-12 mt-4">
                  <small> OB Immunization </small>
                </div>
                <div class="grid grid-cols-12 mt-4">
                  <p class="col-span-12 overflow-hidden pr-4">
                    <mat-checkbox [checked]="ob.length == 0" [disabled]="true">
                      None
                    </mat-checkbox>
                    <br />
                    <small>
                      Automatic None if there are no selected immunization
                    </small>
                  </p>
                  <ng-container formArrayName="ob">
                    <ng-container
                      *ngFor="let immunx_fg of ob.controls; let i = index"
                    >
                      <div
                        class="col-span-6 overflow-hidden pr-4 pb-2"
                        [formGroupName]="i"
                      >
                        <mat-checkbox
                          (change)="update_selected_ob(immunx_fg.value.name)"
                          [checked]="true"
                        >
                          {{ immunx_fg.value.name }}
                        </mat-checkbox>

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Year"
                          formControlName="when"
                        />

                        <input
                          class="table-input"
                          matInput
                          type="text"
                          placeholder="Where"
                          formControlName="where"
                        />
                      </div>
                    </ng-container>
                  </ng-container>
                  <p class="col-span-12 m-0"></p>
                  <ng-container
                    *ngFor="
                      let immun of LIST.ob_immunization_schedule;
                      let i = index
                    "
                  >
                    <p
                      class="col-span-6 overflow-hidden pr-4 pb-2"
                      *ngIf="!isObImmunizationSelected(immun.vaccine)"
                    >
                      <mat-checkbox
                        (change)="update_selected_ob(immun.vaccine)"
                      >
                        {{ immun.vaccine }}
                      </mat-checkbox>
                    </p>
                  </ng-container>
                </div>
              </div>
            </ng-container>

            <div class="col-span-2">
              <small class="highlight">Family Medical Hx</small>
            </div>
            <div class="col-span-2 pb-6" formArrayName="family_medical_hx">
              <div
                class="grid grid-cols-12"
                *ngFor="
                  let control of family_medical_hx.controls;
                  let i = index
                "
              >
                <ng-container [formGroupName]="i">
                  <div class="col-span-3 pr-4">
                    <p class="font-bold accent">Member #{{ i + 1 }}</p>

                    <p>
                      <input
                        class="table-input"
                        matInput
                        placeholder="Name"
                        formControlName="name"
                      />
                      <input
                        class="table-input"
                        matInput
                        placeholder="Relation"
                        formControlName="relation"
                      />
                    </p>
                    <a
                      class="cursor-pointer hover:font-bold underline"
                      (click)="onRemoveFamilyMember(i)"
                    >
                      Remove
                    </a>
                  </div>

                  <div class="col-span-9" formGroupName="past_medical_hx">
                    <div class="grid grid-cols-4">
                      <!-- working here -->

                      <ng-container formArrayName="chronic_medical_conditions">
                        <ng-container
                          *ngFor="
                            let cmc_form of fmhx_chronic_medical_conditions(i)
                              .controls;
                            let j = index
                          "
                        >
                          <div
                            class="col-span-2 overflow-hidden pr-4 pb-2"
                            [formGroupName]="j"
                          >
                            <mat-checkbox
                              (change)="
                                update_selected_chronic_disease_fam(
                                  cmc_form.value.name,
                                  i
                                )
                              "
                              [checked]="true"
                            >
                              {{ cmc_form.value.name }}
                            </mat-checkbox>

                            <input
                              class="table-input"
                              matInput
                              type="text"
                              placeholder="Year"
                              formControlName="when"
                            />

                            <input
                              class="table-input"
                              matInput
                              type="text"
                              placeholder="Medication"
                              formControlName="medication"
                            />

                            <input
                              class="table-input"
                              matInput
                              type="text"
                              placeholder="Diagnostic Peformed"
                              formControlName="diagnostic_performed"
                            />
                          </div>
                        </ng-container>
                      </ng-container>
                      <p
                        class="col-span-4 m-0"
                        *ngIf="fmhx_chronic_medical_conditions(i).length"
                      ></p>
                      <!-- end here -->
                      <ng-container
                        *ngFor="
                          let disease of LIST.chronic_medical_conditions_fam
                        "
                      >
                        <p
                          class="col-span-2 overflow-hidden pr-4 pb-2"
                          *ngIf="!isChronicInFamilySelected(disease, i)"
                        >
                          <mat-checkbox
                            (change)="
                              update_selected_chronic_disease_fam(disease, i)
                            "
                          >
                            {{ disease }}
                          </mat-checkbox>
                        </p>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
                <div class="mb-4 divider"></div>
              </div>
              <a
                class="cursor-pointer hover:font-bold mt-4"
                (click)="onAddFamilyMember()"
              >
                + Add Family Member
              </a>
            </div>

            <div class="col-span-2 pb-6">
              <small class="highlight">Personal-Social Hx</small>
              <div
                class="grid grid-cols-12 mt-4"
                formGroupName="personal_social_hx"
              >
                <ng-container>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Smoker"
                      readonly
                    />
                  </p>
                  <ng-container formGroupName="smoker">
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Status"
                        formControlName="status"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Type"
                        formControlName="type"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Consumption"
                        formControlName="consumption"
                      />
                    </p>
                  </ng-container>
                </ng-container>

                <ng-container>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Alcohol"
                      readonly
                    />
                  </p>
                  <ng-container formGroupName="alcohol">
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Status"
                        formControlName="status"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Type"
                        formControlName="type"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Consumption"
                        formControlName="consumption"
                      />
                    </p>
                  </ng-container>
                </ng-container>
                <ng-container>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Drug"
                      readonly
                    />
                  </p>
                  <ng-container formGroupName="drug">
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Status"
                        formControlName="status"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Type"
                        formControlName="type"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Consumption"
                        formControlName="consumption"
                      />
                    </p>
                  </ng-container>
                </ng-container>

                <ng-container>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Sexual Activity"
                      readonly
                    />
                  </p>
                  <ng-container formGroupName="sexual_activity">
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Status"
                        formControlName="status"
                      />
                    </p>
                    <p class="col-span-3 pr-2">
                      <input
                        type="text"
                        matInput
                        class="table-input"
                        placeholder="Multiple Partner?"
                        formControlName="is_multiple_partner"
                      />
                    </p>
                    <p class="col-span-3 pr-2"></p>
                  </ng-container>
                </ng-container>
                <ng-container>
                  <p class="col-span-12 my-2"></p>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Physical Activity"
                      readonly
                    />
                  </p>
                  <ng-container formArrayName="physical_activities">
                    <div class="col-span-9 pr-2 grid grid-cols-12">
                      <ng-container
                        *ngFor="
                          let control of physical_activities.controls;
                          let i = index
                        "
                        [formGroupName]="i"
                      >
                        <p class="col-span-5 pr-2">
                          <input
                            type="text"
                            matInput
                            class="table-input"
                            formControlName="type"
                            placeholder="Type"
                          />
                        </p>
                        <p class="col-span-6">
                          <input
                            type="text"
                            matInput
                            class="table-input"
                            formControlName="hours_per_week"
                            placeholder="Hours/Week"
                          />
                        </p>
                        <p
                          class="col-span-1 text-right cursor-pointer"
                          (click)="onRemovePhysicalActivity(i)"
                        >
                          X
                        </p>
                      </ng-container>

                      <div class="underline-add col-span-12">
                        <a
                          (click)="onAddPhysicalActivity()"
                          class="cursor-pointer hover:font-bold"
                        >
                          + Add
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container>
                  <p class="col-span-12 my-2"></p>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Dietary Hx"
                      readonly
                    />
                  </p>
                  <ng-container formArrayName="dietary_hx">
                    <div class="col-span-9 pr-2 grid grid-cols-12">
                      <ng-container
                        *ngFor="
                          let control of dietary_hx.controls;
                          let i = index
                        "
                        [formGroupName]="i"
                      >
                        <p class="col-span-5 pr-2">
                          <input
                            type="text"
                            matInput
                            class="table-input"
                            formControlName="type"
                            placeholder="Type"
                          />
                        </p>
                        <p class="col-span-6">
                          <input
                            type="text"
                            matInput
                            class="table-input"
                            formControlName="duration"
                            placeholder="Duration"
                          />
                        </p>
                        <p
                          class="col-span-1 text-right cursor-pointer"
                          (click)="onRemoveDietaryHx(i)"
                        >
                          X
                        </p>
                      </ng-container>

                      <div class="underline-add col-span-12">
                        <a
                          (click)="onAddDietaryHx()"
                          class="cursor-pointer hover:font-bold"
                        >
                          + Add
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container>
                  <p class="col-span-12 my-2"></p>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Carbonated Drinks"
                      readonly
                    />
                  </p>
                  <ng-container formArrayName="carbonated_drinks">
                    <div class="col-span-9 pr-2 grid grid-cols-12">
                      <ng-container
                        *ngFor="
                          let control of carbonated_drinks.controls;
                          let i = index
                        "
                        [formGroupName]="i"
                      >
                        <p class="col-span-5 pr-2">
                          <input
                            type="text"
                            matInput
                            class="table-input"
                            formControlName="type"
                            placeholder="Type"
                          />
                        </p>
                        <p class="col-span-6">
                          <input
                            type="text"
                            matInput
                            class="table-input"
                            formControlName="hours_per_week"
                            placeholder="Hours/Week"
                          />
                        </p>
                        <p
                          class="col-span-1 text-right cursor-pointer"
                          (click)="onRemoveCarbonatedDrink(i)"
                        >
                          X
                        </p>
                      </ng-container>

                      <div class="underline-add col-span-12">
                        <a
                          (click)="onAddCarbonatedDrink()"
                          class="cursor-pointer hover:font-bold"
                        >
                          + Add
                        </a>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container>
                  <p class="col-span-12 my-2"></p>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Living Conditions"
                      readonly
                    />
                  </p>
                  <ng-container formGroupName="living_condition">
                    <div class="col-span-9 pr-2">
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Living Area"
                          formControlName="living_area"
                        />
                      </p>
                      <!--  -->
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Type of House"
                          formControlName="type_of_house"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="House Populated"
                          formControlName="how_populated"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Ventilation"
                          formControlName="ventilation"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Water Source"
                          formControlName="water"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Toilet Type"
                          formControlName="toilet"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Sewage"
                          formControlName="sewage"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Garbage Disposal"
                          formControlName="garbage_disposal"
                        />
                      </p>
                    </div>
                  </ng-container>
                </ng-container>

                <ng-container>
                  <p class="col-span-12 my-2"></p>
                  <p class="col-span-3 pr-2">
                    <input
                      type="text"
                      matInput
                      class="table-input"
                      value="Occupational Hx"
                      readonly
                    />
                  </p>
                  <ng-container formGroupName="occupational_hx">
                    <div class="col-span-9 pr-2">
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Work"
                          formControlName="work"
                        />
                      </p>
                      <!--  -->
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Description"
                          formControlName="description"
                        />
                      </p>
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          placeholder="Hazards"
                          formControlName="hazards"
                        />
                      </p>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </div>

            <div class="col-span-2 pb-6">
              <small class="highlight">Review of System</small>
              <div
                class="grid grid-cols-12 mt-4"
                formGroupName="review_of_system"
              >
                <ng-container *ngFor="let field of LIST.ros_fields">
                  <p class="col-span-12">
                    <small>{{ field.label }}</small>
                  </p>
                  <div class="col-span-12 grid grid-cols-2">
                    <p class="col-span-1" *ngFor="let item of field.choices">
                      <mat-checkbox
                        (change)="ros_change(item, field.fcname)"
                        [checked]="isChecked(item, field.fcname)"
                      >
                        {{ item }}
                      </mat-checkbox>
                    </p>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> <b>O</b>bjective </mat-panel-title>
          <mat-panel-description>
            <small> Examination findings</small>
            <mat-icon>visibility</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="grid grid-cols-2" [formGroupName]="'objective'">
            <div class="col-span-2 pb-6 grid grid-cols-12 mt-4">
              <ng-container *ngFor="let field of LIST.objective_fields">
                <p class="col-span-12">
                  <small>{{ field.label }}</small>
                </p>
                <ng-container [formGroupName]="field.fgname">
                  <ng-container *ngFor="let control of field.fcs">
                    <div class="col-span-5">
                      <p>{{ control.label }}</p>
                    </div>
                    <div class="col-span-7">
                      <p>
                        <input
                          type="text"
                          matInput
                          class="table-input"
                          [formControlName]="control.fcname"
                        />
                      </p>
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> <b>A</b>ssessment </mat-panel-title>
          <mat-panel-description>
            <small>Diagnosis and judgment</small>
            <mat-icon>assessment</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="grid grid-cols-2 pb-4" [formGroupName]="'assessment'">
            <div
              class="col-span-2 grid grid-cols-12 gap-2"
              formArrayName="diagnoses"
            >
              <div class="col-span-12">
                <mat-form-field class="w-full">
                  <mat-label>Search ICD Code</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Type for ICD Codes"
                  />
                  <button matSuffix mat-icon-button>
                    <mat-icon>search</mat-icon>
                  </button>
                  <button
                    matTooltip="Add Empty Dx"
                    matSuffix
                    mat-icon-button
                    (click)="onAddDiagnosis()"
                  >
                    <mat-icon>add</mat-icon>
                  </button>
                  <mat-hint>
                    Use the search bar to select specific diagnosis. Click "+"
                    button to add blank diagnosis.
                  </mat-hint>
                </mat-form-field>
              </div>
              <div class="col-span-12" *ngIf="diagnoses.value.length">
                <small>Diagnosis</small>
              </div>

              <ng-container
                *ngFor="let cmc_form of diagnoses.controls; let i = index"
              >
                <ng-container [formGroupName]="i">
                  <div class="col-span-6">
                    <mat-form-field class="w-full">
                      <mat-label>ICD Code</mat-label>
                      <input matInput type="text" formControlName="icd_code" />
                      <mat-hint>Not specified in the ICD </mat-hint>
                    </mat-form-field>
                  </div>

                  <div class="col-span-6">
                    <mat-form-field class="w-full">
                      <mat-label>Status</mat-label>
                      <mat-select formControlName="status">
                        <mat-option
                          *ngFor="let status of LIST.DIAGNOSIS_STATUSES"
                          [value]="status"
                        >
                          {{ status }}
                        </mat-option>
                      </mat-select>
                      <button
                        matSuffix
                        mat-icon-button
                        matTooltip="Remove from List"
                        (click)="onRemoveDiagnosis(i)"
                      >
                        <mat-icon>remove</mat-icon>
                      </button>
                    </mat-form-field>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> <b>P</b>lan </mat-panel-title>
          <mat-panel-description>
            <small>Treatment and follow-up actions</small>
            <mat-icon>playlist_add_check</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <div class="grid grid-cols-2 pb-4" [formGroupName]="'assessment'">
            <mat-form-field class="col-span-12">
              <textarea matInput fr></textarea>
            </mat-form-field>
          </div>
        </ng-template>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
