@import "/src/assets/styles/variables.scss";

mat-form-field {
  margin-right: 8px;
}

.underline-emphasis {
  border-bottom: 2px solid $primary;
  position: sticky;
  top: 0;
  z-index: 10;
  span {
    font-size: x-small;
    color: $gray;
    font-weight: normal;
  }
  p {
    color: $primary;
    font-size: small;
    font-weight: 600;
    small {
      color: $gray;
      opacity: 0.6;
    }
  }
}

.highlight {
  color: $accent;
  font-weight: 700;
}
