<mat-drawer-container autosize>
  <mat-drawer #drawerLeft mode="over" class="left-side-panel">
    <h1>EMR</h1>
    <section class="nav-section">
      <div
        class="nav-btn"
        *ngFor="let navLink of navRouterLinks"
        routerLinkActive="active"
      >
        <div [routerLink]="[navLink.routerLink]">
          <p>{{ navLink.name }}</p>
        </div>
      </div>
    </section>
  </mat-drawer>

  <mat-drawer #drawerRight mode="over" class="right-side-panel" position="end">
    <h1>Pending Claims</h1>
    <section class="chat-section"></section>
  </mat-drawer>

  <div class="main-panel">
    <mat-toolbar color="primary" class="sticky top-0 z-50">
      <!-- Menu -->

      <button mat-icon-button (click)="drawerLeft.toggle()" class="pr-2">
        <mat-icon>chevron_{{ drawerLeft.opened ? "left" : "right" }}</mat-icon>
      </button>

      <!-- Clinics -->
      <div class="current-care-group">
        <small class="subheader">Care Group</small>
        <h1
          class="active-clinic-label"
          [matMenuTriggerFor]="menu"
          matTooltip="Click to Switch Care Group"
        >
          {{ selectedClinic.value }}
        </h1>
      </div>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item
          *ngFor="let clinic of clinicsList"
          (click)="loadSelectedClinic(clinic)"
        >
          {{ clinic }}
        </button>
      </mat-menu>

      <div class="spacer"></div>

      <!-- Account Button -->

      <!-- <button mat-icon-button class="chat-btn" (click)="drawerRight.toggle()">
        <mat-icon>chat{{ drawerRight.opened ? "_bubble" : "" }}</mat-icon>
      </button> -->

      <button
        mat-icon-button
        matTooltip="View Pending Claims"
        (click)="drawerRight.toggle()"
      >
        <mat-icon>summarize</mat-icon>
      </button>

      <button mat-icon-button class="account-btn" [routerLink]="['my-account']">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
</mat-drawer-container>
