<div class="flex">
  <div class="h-[100vh] min-w-[34rem] max-w-[34rem] p-[2rem] pt-12 login-bar">
    <div class="login-title">
      <div class="logo-container">
        <h1 class="logo">Logo</h1>
      </div>
      <h1 style="margin-bottom: 0">EMR MANAGEMENT SYSTEM</h1>
    </div>
    <div class="container mb-4">
      <router-outlet></router-outlet>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <!-- <button mat-stroked-button class="w-full mt-4">Login via Gmail</button>
    <span class="my-2"></span>
    <button mat-stroked-button class="w-full mt-4">Login via QR</button> -->
    <!-- <p class="signup-text bottom-10 absolute">
      Don't have an account yet? <a>Apply now!</a>
    </p> -->
  </div>

  <div class="w-full free-space"></div>
</div>
