<div class="flex flex-col gap-6">
  <small
    >You are about to change you password. Input your new password and confirm
    it.</small
  >

  <app-error-alert
    *ngIf="serverErrorMessage"
    [(serverErrorMessage)]="serverErrorMessage"
  ></app-error-alert>
  <form [formGroup]="forgotPasswordForm" class="login-form">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>New Password</mat-label>
      <input
        matInput
        [type]="isVisible.newPassword ? 'text' : 'password'"
        formControlName="newPassword"
      />
      <button
        matSuffix
        mat-icon-button
        (click)="isVisible.newPassword = !isVisible.newPassword"
      >
        <mat-icon>
          {{ isVisible.newPassword ? 'visibility_off' : 'visibility_on' }}
        </mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        [type]="isVisible.confirmPassword ? 'text' : 'password'"
        formControlName="confirmPassword"
      />
      <button
        matSuffix
        mat-icon-button
        (click)="isVisible.confirmPassword = !isVisible.confirmPassword"
      >
        <mat-icon>
          {{ isVisible.confirmPassword ? 'visibility_off' : 'visibility_on' }}
        </mat-icon>
      </button>
    </mat-form-field>
    <button
      mat-raised-button
      color="warn"
      (click)="onSubmit()"
      [disabled]="forgotPasswordBtnDisabled"
    >
      {{ forgotPasswordBtnLabel }}
    </button>
    <button mat-button class="float-right" (click)="onClickBackToLoginBtn()">
      Back to Login
    </button>
  </form>
</div>
