<div class="mb-4">
  <small>Input your registered email to receive a reset link.</small>
</div>
<form [formGroup]="forgotPasswordForm" class="login-form">
  <mat-form-field class="w-full" appearance="outline" *ngIf="!linkSuccessSent">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    (click)="onSubmit()"
    [disabled]="forgotPasswordBtnDisabled"
    *ngIf="!linkSuccessSent"
  >
    {{ forgotPasswordBtnLabel }}
  </button>
  <p *ngIf="linkSuccessSent">
    Link successfully sent to email
    <b class="text-success">{{ forgotPasswordForm.value.email }}.</b> Kindly
    check your inbox for the link.
  </p>
  <button mat-button class="float-right" (click)="onClickBackToLoginBtn()">
    Back to Login
  </button>
</form>
