@import "/src/assets/styles/variables.scss";

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

mat-card-content {
  padding: 2rem;
}

.forgot-password-btn {
  float: right;
}

.login-form {
  margin-bottom: 2rem;
}

.login-title {
  h1 {
    font-weight: bolder;
  }
  margin-bottom: 1rem;
}

.signup-text {
  text-align: center;
  margin-top: 4rem;
  a {
    font-weight: 500;
    color: $primary;
    cursor: pointer;
  }

  a:hover {
    font-weight: bold;
  }
}

.container {
  display: grid;
  place-items: center;
}

mat-card {
  margin-top: 10%;
  max-width: 42rem;
}
