/* You can add global styles to this file, and also import other style files */
@import "/src/assets/styles/variables.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.portal-page-title {
  font-weight: 550 !important;
  color: $primary;
}

mat-card-title {
  font-size: medium !important;
}

mat-card-subtitle {
  font-size: 12px !important;
  opacity: 0.5 !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary #ffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 0px;
  border: 0px none #ffffff;
}

.mat-row:hover {
  background-color: $white;
}

.spacer {
  flex: 1 1 auto;
}
