/* You can add global styles to this file, and also import other style files */
@import '/src/assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  * {
    font-family: 'Inter', sans-serif !important;
  }

  .material-icons {
    font-family: 'Material Icons' !important;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.portal-page-title {
  font-weight: 550 !important;
  color: $primary;
}

mat-card-title {
  font-size: medium !important;
}

mat-card-subtitle {
  font-size: 12px !important;
  opacity: 0.5 !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary #ffffff;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: $primary #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: 0px;
  border: 0px none #ffffff;
}

.mat-row:hover {
  background-color: $white;
}

.spacer {
  flex: 1 1 auto;
}

// font colors

.text-success {
  color: $completed;
}

.snackbar {
  &__container {
    display: flex;
    align-items: center;
    gap: 14px;
    color: var(--white);
    span {
      font-size: 14px;
      font-weight: 600;
    }

    .close-btn {
      cursor: pointer;
      border-radius: 50%;
    }
  }
}

.error-snackbar {
  background: var(--error-600) !important;
}

.success-snackbar {
  background: var(--primary) !important;
}

.badge__container {
  display: flex;
  .badge {
    border-radius: 14px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: 600;
    &--active {
      border: 1px solid var(--gray-500);
      color: var(--gray-100);
      background-color: var(--gray-600);
    }

    &--inactive {
      border: 1px solid var(--gray-50);
      color: var(--gray-50);
      background-color: var(--gray-300);
    }

    &--deleted {
      border: 1px solid var(--error-300);
      color: var(--error-600);
      background-color: var(--error-100);
    }
  }
}
