//COLORS
$primary: #4050b5;
$accent: #ff4081;
$warn: #f44336;
$light: #8fb3e5;
$mild: #e36a3a;

$completed: #2ecc71;
$cancelled: #757575;

$mild: #e36a3a;

$white: #f6f6f6;
$gray: #767676;
$light-gray: #c1c1c1;
$black: #0000;

//TEXT-COLOR
$text-darken: #565656;
$text-light: #fff;
