:host ::ng-deep {
  .filter-container {
    .mat-form-field-wrapper {
      padding: 0;
    }

    mat-form-field {
      font-size: 13px;
    }
  }
}

.mat-table {
  width: 100%;
}

.mat-row:not(.empty-table):hover {
  background-color: var(--gray-100);
  cursor: pointer;
}

td.mat-cell {
  padding-top: 10px;
  padding-bottom: 8px;
  font-size: 13px;
  color: var(--gray-600);
}
